header
  h2= 'Edit channel'

.content
  .form
    = simple_form_for channel do |form|
      = form.input :feed_url, disabled: true
      = form.input :title
      = form.input :description
      = form.input :site_url
      = form.association :category
      = form.button :submit
