.entries
  header
    = link_to '', channel_refresh_path(channel), class: 'refresh'
    h2= channel.title
    
    .actions
      = link_to 'Edit', [:edit, channel], class: 'button update'
      = link_to 'Delete', channel, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button destroy'

  section.content
    - channel.entries.each do |e|
      .entry
        .panel
          = link_to '', '#', class: 'bookmark'
          = link_to '', e, method: :delete, class: 'remove'
        .box
          section.title= link_to e.title, e
          section.bar
            section.left= e.author
            section.right= time_ago_in_words(e.published_at)
          section.body
            = e.summary
          
javascript:
  $(".entries .content").masonry({
    itemSelector: ".entry",
    isAnimated: true,
    animationOptions: {
      duration: 300,
      easing: 'linear',
      queue: false
    }
  });
