body
  font-size: 14px
  background: #e7ecf3
  font-family: 'Open Sans', sans-serif

a:active, a:focus
  outline: 0
  outline-style: none
  outline-width: 0

*
  box-sizing: border-box

h1, h2, h3, h4
  font-weight: normal

a
  text-decoration: none
  color: #055959

  &:hover
    color: #07827e
