.button
  display: inline-block
  padding: 10px 15px
  margin: 0 10px 0 0
  color: #fff
  text-decoration: none
  border-radius: 2px

  &:hover
    color: #fff

  &.create
    background: #07b232

    &:hover
      background: #0dbd30

  &.update
    background: #0679b3

    &:hover
      background: #0b7ec0

  &.destroy
    background: #b30606

    &:hover
      background: #be0c0c
