.form
  display: flex
  justify-content: center
  text-align: center

  form
    min-width: 500px
    max-width: 600px
    padding: 20px 25px
    display: block
    background: #f3f3f3
    margin: 10px 0
    border-radius: 2px
    border: 1px solid rgba(0, 0, 0, 0.2)

  .input
    text-align: left
    margin-bottom: 30px

    input, textarea, select
      display: block
      width: 100%
      border: 1px solid #c4c4c4
      padding: 10px
      border-radius: 2px
      background: #fff
      margin: 10px 0

  input[type='submit']
    padding: 10px 15px
    margin: 0 10px 0 0
    color: #fff
    border-radius: 2px
    border: 0
    cursor: pointer
    background: #07b232

    &:hover
      background: #0dbd30
