.group-listing
  display: flex
  flex-wrap: wrap

  .group
    flex: 0 1 0px
    min-width: 30%
    margin:
      left: 2%
      right: 2%
      bottom: 15px
      top: 0

    &:nth-of-type(3n + 1)
      margin-left: 0

    &:nth-of-type(3n)
      margin-right: 0

    .empty-state
      color: #878787
      font-size: .9em
      font-style: italic

    h3
      font-weight: normal
      font-size: 1.4em
      margin: 0 0 20px

    ul
      list-style: none

      li
        margin: 12px 0

    .settings
      margin: 20px 0 0
      padding: 10px 5px
      border-top: 1px dashed #bdbdbd

      a
        display: block
        margin: 5px 0
        color: #bdbdbd
        text-decoration: none

        &:hover
          color: #07827e
