header
  display: flex
  align-items: center
  background: linear-gradient(to bottom, rgba(236,240,245,1) 0%,rgba(231,236,243,1) 100%)
  box-shadow: 0 -1px 0 #c4ccd7 inset
  height: 75px
  padding: 0 0 0 45px

  h2
    line-height: 75px
    font-size: 24px
    font-weight: 300

  .actions
    margin:
      right: 20px
      left: auto
