= render 'layouts/application/navigation_entry', header: 'Uncategorized', channels: channels_without_category

- categories.each do |category|
  = render 'layouts/application/navigation_entry', header: category.title, channels: category.channels
  
