header
  h2= 'Settings'
  
  .actions
    = link_to 'new category', new_category_path, class: 'button create'
    = link_to 'new channel', new_channel_path, class: 'button create' 
    
.content
  .group-listing
    .group= render 'category', header: 'Uncategorized', channels: channels_without_category
  
    - categories.each do |category|
      .group
        = render 'category', header: category.title, channels: category.channels
      
        .settings
          = link_to 'Edit category', [:edit, category]
          = link_to 'Delete category', category, method: :delete, data: { confirm: 'Are you sure?' }
