doctype html
html
  head
    title Blackbird
    = stylesheet_link_tag   'http://fonts.googleapis.com/css?family=Open+Sans:400,300'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    aside
      .sidebar
        .logo
        nav
          li.feeds= link_to '', entries_path
          li.settings= link_to '', categories_path

      .navigation.channels.column_list
        = render 'layouts/application/navigation'
    
    main
      = yield
